{# src/Champloo/SiteBundle/Resources/views/Article/ajouter.html.twig #}

{% extends "ChamplooSiteBundle::layout.html.twig" %}

{% block champloo_site_bundle_homepage_index %}
	<h2>Ajouter un article</h2>

	{{ include ("ChamplooSiteBundle:Article:form.html.twig")}}

{% endblock %}