{# src/Champloo/SiteBundle/Resources/views/Article/editer.html.twig #}

{% extends "ChamplooSiteBundle::layout.html.twig" %}

{% block champloo_site_bundle_homepage_index %}

  <h2>Modifier un article</h2>


  {{ include("ChamplooSiteBundle:Article:form.html.twig") }}

  <p>

    <a href="{{ path('champloo_site_article_lire', {'article_slug': article.slug}) }}" class="btn btn-default">

      <i class="glyphicon glyphicon-chevron-left"></i>

      Retour à l'article

    </a>

  </p>

{% endblock %}