{# src/Champloo/SiteBundle/Resources/views/homepage/index.html.twig #}

{% extends "ChamplooSiteBundle::layout.html.twig" %}

{% block champloo_site_bundle_homepage_index %}
{# message flash #}
{% for label, flashes in app.session.flashbag.all %}
    {% for flash in flashes %}
        <div class="alert alert-{{ label }}">
            {{ flash }}
        </div>
    {% endfor %}
{% endfor %}
	carroussel
	Blog
	Forum
	Bon plan
	ChamplooTV
{% endblock %}

