{# src/Champloo/SiteBundle/Resources/views/layout.html.twig #}

{% extends 'base.html.twig' %}

{% block base_content %}
<section>
{% block champloo_site_bundle_homepage_index %}

{% endblock %}
</section>

{% endblock %}
