{# src/Champloo/SiteBundle/Resources/views/Article/index.html.twig #}

{% extends "ChamplooSiteBundle::layout.html.twig" %}

{% block champloo_site_bundle_homepage_index %}

	<h2>Liste des articles</h2>

	  <ul>
	    {% for article in listArticle %}
	      {% include "ChamplooSiteBundle:Article:lire.html.twig" %}
	      <hr />
	    {% else %}
	      <p>Pas (encore !) d'articles</p>
	    {% endfor %}
	  </ul>

	  {# S'il y a plus d'une page, on affiche la liste des pages #}
	  {% if nbPages > 1 %}
		<ul class="pagination">

		  {% for p in range(1, nbPages) %}

		    <li{% if p == page %} class="active"{% endif %}>

		      <a href="{{ path('champloo_site_actu', {'page': p}) }}">{{ p }}</a>

		    </li>

          {% endfor %}
        </ul>
      </div>
  {% endif %}

{% endblock %}