{# src/Champloo/TaxonomieBundle/Resources/views/Taxonomie/ajouterTerme.html.twig #}

{% extends "ChamplooSiteBundle::layout.html.twig" %}

{% block champloo_site_bundle_homepage_index %}

	<h3>Ajouter un terme</h3>
	<form method="post" action="{{path('champloo_taxonomie_terme_ajouter', {'terme_slug' : terme.slug})}}">
		{{ include ("ChamplooTaxonomieBundle:Taxonomie:form.html.twig")}}
	</form>

{% endblock %}