{# src/Champloo/CommentaireBundle/Resources/views/supprimerCommentaire.html.twig #}

{% extends "ChamplooSiteBundle::layout.html.twig" %}

{% block champloo_site_bundle_homepage_index %}
<h2>Supprimer un commentaire</h2>

<p>Etes-vous sur de vouloir supprimer le contenu suivant ?</p>
<div class="well">
	{{commentaire.contenu}}
</div>

<form action="{{ path('champloo_commentaire_supprimer', {'id' : commentaire.id }) }}" method="post">
	<a href="{{ path('champloo_site_article_lire', {'article_slug' : commentaire.article.slug}) }}" class="btn">
		<i class="icon-chevron-left"></i>
		Retour à l'article
	</a>
	<input type="submit" value="Supprimer" class="btn btn-danger" />
	{{ form_rest(form) }}
</form>

{% endblock %}