{# src/Champloo/TaxonomieBundle/Resources/views/Taxonomie/ajouterVocabulaire.html.twig #}

{% extends "ChamplooSiteBundle::layout.html.twig" %}

{% block champloo_site_bundle_homepage_index %}

	<h3>Créer un vocabulaire</h3>
	<form method="post" action="{{path('champloo_taxonomie_vocabulaire_ajouter') }}">
		{{ include ("ChamplooTaxonomieBundle:Taxonomie:form.html.twig")}}
	</form>

{% endblock %}