/* Template stylesheet
 *
 *  Champloo.less
 *
 *  Inspired by Smaccs http://smacss.com
 *  LESS CSS preprocessor http://lesscss.org
 *
 *  Author : Fred
 *  date : 23/07/2015
 *
 
 /* Base */
/*  *************************************************************
// ========================== BASE =============================
// *************************************************************
// 
// CSS correspondant aux éléments HTML basiques incluant des 
// sélecteurs descendants, enfants... déterminant la taille, la
// couleur, la mise en page de ces éléments
// 
// Par exemple, les balises titres, paragraphe (H1, em, body...)
// 
// Ne contient ni classe, ni identifiant, ni !important
// 
// Peut inclure des reset CSS */
/* Général */
html {
  font-size: 62.5%;
}
/* masquer les éléments */
.hidden {
  display: none;
}
/* Import de la police d'icon champloo (icomoon) */
@font-face {
  font-family: 'champloo-icon';
  src: url('fonts/champloo-icon.eot?2g9zpt');
  src: url('fonts/champloo-icon.eot?2g9zpt#iefix') format('embedded-opentype'), url('fonts/champloo-icon.ttf?2g9zpt') format('truetype'), url('fonts/champloo-icon.woff?2g9zpt') format('woff'), url('fonts/champloo-icon.svg?2g9zpt#champloo-icon') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Gestion de la police d'icone Champloo-icon */
[class^="icon-"],
[class*=" icon-"] {
  font-family: 'champloo-icon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-search:before {
  content: "\e800";
}
.icon-google-plus:before {
  content: "\e600";
}
.icon-facebook:before {
  content: "\e601";
}
.icon-twitter:before {
  content: "\e602";
}
.icon-feed:before {
  content: "\e603";
}
.icon-youtube:before {
  content: "\e604";
}
.icon-vimeo:before {
  content: "\e605";
}
.icon-flickr:before {
  content: "\e606";
}
.icon-search2:before {
  content: "\e801";
}
/* région header */
/* Layout */
/* *************************************************************
// ========================= LAYOUT ============================
// *************************************************************
// 
// CSS correspondant à chaque section majeur (Header, footer, sidebar,...)
// de la page HTML, définissant les tailles, positions, fond de chaque 
// section majeur.
*/
/* Page entière */
/* Région Header */
/*région du header où se situe le menu */
header {
  width: 100%;
  height: 195px;
  margin: 0;
  padding: 0;
  background-color: #54b0ff;
  background: url(image/background_header_champloo.png) no-repeat center;
  -webkit-background-size: cover;
  /* pour anciens Chrome et Safari */
  background-size: cover;
  /* version standardisée */
}
/* Logo du site champloo */
#logo {
  display: inline-block;
  position: absolute;
  left: 9em;
  top: 1em;
  margin-left: 0em;
  margin-top: 0em;
}
/* menu des liens de contact */
#menu-contact {
  position: absolute;
  left: 27.5em;
  top: 0em;
  width: 60em;
}
/* Nom du site */
#site-name {
  position: absolute;
  left: 40%;
  top: 5em;
  margin: auto;
  width: 50em;
  height: 20em;
}
/* menu vers les pages réseaux sociaux */
#menu-social {
  position: absolute;
  left: -0.1em;
  top: 10.5em;
  width: 150em;
}
/* Module */
/* *************************************************************
// ======================== MODULE =============================
// *************************************************************
// 
// CSS correspondant à chaque section mineures (menu de navigation
// formulaire de connexion, bouton....)
*/
/* Région Header */
/* 
/* couleur blanche, retrait soulignement, pour tout les liens du header */
/* retrait symbole liste à puce des menus header */
/* alignement horizontalement les menus du header */
header a {
  color: white;
  text-decoration: none;
}
header ul {
  list-style-type: none;
}
header li {
  display: inline-block;
}
/* police de la région header */
header {
  font-family: BakerSignet BT, Century Gothic;
}
/* taille des boutons et de la police menu contact */
#menu-contact li {
  width: 8em;
  font-size: 1.5em;
}
/* taille de la police du nom de site */
#site-name a {
  font-size: 4em;
}
/* Menu social */
/* alignement, centrage et taille des boutons & police, effet fin de transition */
#menu-social a {
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  line-height: 1.5em;
  text-align: center;
  font-size: 2em;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -ms-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
}
/* State */
/* *************************************************************
// ======================== STATE =============================
// *************************************************************
// 
// Classe définissant un état particulier dans lesquels se trouve
// un élément
// (!important est toléré voir conseillé)
// 
// la synthase est préfixé par is-élément, par exempe is-block */
/* General */
/* Région header */
/* Menu contact */
#menu-contact a {
  text-decoration: none;
}
#menu-contact a:hover,
#menu-contact a:active,
#menu-contact a:focus {
  text-decoration: underline;
}
/* Menu social */
#menu-social a:hover {
  width: 1.8em;
  height: 1.8em;
  line-height: 1.8em;
  font-size: 2.1em;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -ms-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
}
/* ci-dessous, changement de couleur du fond de chaque "font icon" social */
#menu-social .icon-facebook:hover,
#menu-social .icon-facebook:active,
#menu-social .icon-facebook:focus {
  background-color: #45619d;
}
#menu-social .icon-google-plus:hover,
#menu-social .icon-google-plus:active,
#menu-social .icon-google-plus:focus {
  background-color: #db4437;
}
#menu-social .icon-twitter:hover,
#menu-social .icon-twitter:active,
#menu-social .icon-twitter:focus {
  background-color: #55acee;
}
#menu-social .icon-youtube:hover,
#menu-social .icon-youtube:active,
#menu-social .icon-youtube:focus {
  background-color: #cc181e;
}
#menu-social .icon-vimeo:hover,
#menu-social .icon-vimeo:active,
#menu-social .icon-vimeo:focus {
  background-color: #17b3e8;
}
#menu-social .icon-flickr:hover,
#menu-social .icon-flickr:active,
#menu-social .icon-flickr:focus {
  background-color: #ff0084;
}
#menu-social .icon-feed:hover,
#menu-social .icon-feed:active,
#menu-social .icon-feed:focus {
  background-color: #f58a3f;
}
/* fin du css pour le fond des icones sociales */
/* Tools */
/* Constante */
/* Palette de couleur */
/* Classe abstraite */
