{# src/Champloo/SiteBundle/Resources/views/Categorie/supprimerSousCategorie.html.twig #}

{% extends "ChamplooSiteBundle::layout.html.twig" %}

{% block champloo_site_bundle_homepage_index %}

	<h3>Supprimer une sous-catégorie</h3>
	<p>
	Êtes-vous certains de vouloir supprimer la sous-catégorie "{{ sousCategorie.nom }}" ?
	</p>
	<form action="{{path('champloo_site_sous_categorie_supprimer', {'sous_categorie_slug' : sousCategorie.slug}) }}" method="post">
		<a href="{{ path ('champloo_site_categorie_index') }}" class="btn btn-default">
			<i class="glyphicon glyphicon-chevron-left"></i>
			Retour à l'index des catégories
		</a>
		<input type="submit"value="supprimer" class="btn btn-danger" />

		{{ form_rest(form) }}
	</form>

{% endblock %}